body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.tile-image{
  height: 200px;
  float: left;
  margin-right: 30px;
}
.card{
  width: 45%;
}
.right{
  float: right;
}
.left {
  float: left;
}

.creative{
  color: midnightblue;
}

@media (max-width: 650px){
  .logo{
    width: 100px;
  }
  h1{
    text-align: center;
    font-size: 3.5rem;
  }
  .card{
    display: block;
    width: 100%;
    text-align: justify;
    margin-bottom: 50px;
  }
  .card img{
    display: inline;
    width: 100%;
    object-fit: cover;
  }
}
