body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  display: block;
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.tile-image{
  float: left;
}
.left-card{
  float: left;
}
.right-card{
  float: right;
}
.main{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 100px 200px  200px ;
  gap: 30px;
}

